/* CSS Document */

form, p, span {
	margin:0;
	padding:0; }

input { font:12px arial; }

a {
	color:#0000FF;
	text-decoration:none; }

	a:hover { text-decoration:underline; }

#body{
	margin:0 auto;
	padding-bottom:25px;
	background:#EBF4FB;
	width:504px;
	border:1px solid #ACD8F0; }


#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:270px;
	width:430px;
	border:1px solid #ACD8F0;
	overflow:auto; }

#usermsg {
	width:395px;
	border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }


.msgln { margin:0 0 2px 0; }





canvas {
    border: 1px solid #9C9898;
}

#container {
    background-image: url('http://www.html5canvastutorials.com/demos/assets/blue-background.jpg');
    display: inline-block;
    overflow: hidden;
    height: 400px;
    width: 600px;
}
